<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
  </configSections>

  <extnet scriptMode="Release" theme="Gray" />

  <!-- 
		The following system.web section is only requited for running ASP.NET AJAX under Internet
		Information Services 6.0 (or earlier).  
		
		This section is not necessary for IIS 7.0 or later, although does not have to be removed.
	-->
  <system.web>
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    <pages>
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
    </pages>
  </system.web>

  <!-- 
		The system.webServer section is required for running ASP.NET AJAX under Internet Information Services 7.0.
		
		It is not necessary for previous version of IIS, although does not have to be removed. 
	-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add
				name="DirectRequestModule"
				preCondition="managedHandler"
				type="Ext.Net.DirectRequestModule, Ext.Net"
				/>
    </modules>
    <handlers>
      <add
				name="DirectRequestHandler"
				verb="*"
				path="*/ext.axd"
				preCondition="integratedMode"
				type="Ext.Net.ResourceHandler"
				/>
    </handlers>
  </system.webServer>
</configuration>